<div class="list_items">
<h2>All Pizzas</h2>


  <% @pizzas.each do |pizza| %>

    <p>Name: <%=pizza.pretty_name() %></p>
    <p>Order: <%= pizza.quantity %> x <%= pizza.topping %></p>
    <a id="order_details_list" href="/pizzas/<%= pizza.id %>">Order details</a>
    <hr/>

  <% end %>
</div>
