<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>E18 Pizza Shop</h1>
  <nav>
    <ul>
      <li> <a href="/pizzas/new">New Order</a>  </li>
      <li> <a href="/pizzas">All Orders</a>  </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
