<form action="/pizzas" method="POST">
  <div class="new_form">
    <label for="first_name_input">First name:</label>
    <input id="first_name_input" type="text" name="first_name" value="">
    </br>
    <label for="last_name_input">Last name:</label>
    <input id="last_name_input" type="text" name="last_name" value="">
    </br>
    <label for="toppings_select">Topping:</label>
    <select id="toppings_select" class="" name="topping">
      <option value="Pepperoni">Pepperoni</option>
      <option value="Margarita">Margarita</option>
      <option value="Italian Sausage">Italian Sausage</option>
    </select>
    </br>
    <label for="quantity_input">Quantity:</label>
    <input id="quantity_input" type="number" min="1" name="quantity" value="">
    </br>
  </div>
  <!-- <input id="order_pizza" type="submit" name="" value="Order Pizza"> -->
  <button class="button" type="submit" name="" value="Order Pizza">Order Pizza</button>

</form>
